MONGO_URL=mongodb+srv://nardolimited:W2xkYIAeQnWWLwKJ@nardo.srnrs4w.mongodb.net/nardoDB?retryWrites=true&w=majority&appName=Nardo
# MONGO_URL=mongodb+srv://thakur_saad:IHI4Jo3WEIpEMQGw@cluster0.f2via.mongodb.net/carRentalDB?retryWrites=true&w=majority&appName=Cluster0
BASE_URL=10.0.60.26
PORT=8056
NODE_DEV=production

BCRYPT_SALT_ROUNDS=12
JWT_SECRET='spark-tech'
JWT_EXPIRES_IN=365d
JWT_REFRESH_SECRET='fghfy64786895703hfgjhjgh76867kfghfghfghfghfg4656hfghfghfgh'
JWT_REFRESH_EXPIRES_IN=365d

ACTIVATION_SECRET=346387678979809456

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_MAIL=nardolimited@gmail.com
SMTP_PASSWORD=qkss mbik ornn eavf
SMTP_SERVICE=gmail
SERVICE_NAME=Nardo

# thakur
# STRIPE_SECRET_KEY=sk_test_51QgsTNJ8kRu37hq6ga60NhHliXtF4wKVekD8vD4MJSuff2YDzutp86OxUDZg7u45vijlWVvBFRGfnNdsDBboeX2p00C0IOHtHx
# STRIPE_WEBHOOK_SECRET=whsec_dHytLbwKnafJ14q3wcMhCKtSR77Bq2nQ
# STRIPE_CLI_WEBHOOK_SECRET=whsec_41c71273d0be8064482c15a2abf32a7e71fdfe3a26822a56670657af08b96ec8

# nardo
STRIPE_SECRET_KEY=sk_test_51QgsTNJ8kRu37hq6ga60NhHliXtF4wKVekD8vD4MJSuff2YDzutp86OxUDZg7u45vijlWVvBFRGfnNdsDBboeX2p00C0IOHtHx
STRIPE_WEBHOOK_SECRET=whsec_NXWoZmN4f10amPW2Okcmpq8AlHSWApK9
STRIPE_CLI_WEBHOOK_SECRET=whsec_899bbf3f3c1b27afe04daba504d9a45e04862185374954c99dd98a6eed2ad8c6

MAILGUN_API_KEY=fe5bf285cc9296e7f16ab4c6dcb7fcff-2b77fbb2-5e69bc70

DVLA_X_API_KEY=YxSjSYyWUi1HQ9MGwWZXQ68DrIr1WZglavaNrOYw

