# MONGO_URL=mongodb://localhost:27017/laundryDB
MONGO_URL=mongodb+srv://thakur_saad:IHI4Jo3WEIpEMQGw@cluster0.f2via.mongodb.net/carRentalDB?retryWrites=true&w=majority&appName=Cluster0
BASE_URL=192.168.10.22
PORT=8052
NODE_DEV=production

BCRYPT_SALT_ROUNDS=12
JWT_SECRET='spark-tech'
JWT_EXPIRES_IN=365d
JWT_REFRESH_SECRET='fghfy64786895703hfgjhjgh76867kfghfghfghfghfg4656hfghfghfgh'
JWT_REFRESH_EXPIRES_IN=365d

ACTIVATION_SECRET=346387678979809456

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
smtp_mail=thakursaad613@gmail.com
SMTP_PASSWORD=xypyksxrfxkjzmyp
SMTP_SERVICE=gmail
SERVICE_NAME=Car Rental

STRIPE_SECRET_KEY=sk_test_51L0k3pBXb2oMSwoOOFy5628JpwJdNvtEhCP9hO3K2TqlVjPcH7iv15BhLwIiFjxi4XiUCHApCK2U7Gts9KnVpy1K00hxRiASsW

DVLA_X_API_KEY=YxSjSYyWUi1HQ9MGwWZXQ68DrIr1WZglavaNrOYw

