<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment</title>
  </head>
  <body>
    <h1>Trip payment</h1>
    <p>price: 50</p>
    <p>quantity: 1</p>

    <a target="_blank" rel="noopener noreferrer">
      <form action="/payment/checkout" method="post">
        <input type="submit" value="Proceed" />
      </form>
    </a>
  </body>
</html>
